doctype html
html
	head
		title= title
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='hortcut icon', type='image/png', href='/images/favicon.png')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,900')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
	body.body-background
		block content